%h3 Questions

%table.table.table-condensed.table-striped
  %thead
    %tr
      %th 
      %th
      %th
      %th

  - @questions.each do |question|
    = render 'question_rows', :question => question
%br

= link_to 'New Question', new_question_path
 